<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>navbar}}
    <h1>User :{{username}}</h1>
    <p>email:{{email}}</p>
    <p>id:{{id}}</p>
</body>
</html>